			<footer>

			</footer>
		</div>
		<!-- Quantcast Tag -->
		<script>
			var _qevents = _qevents || [];
			(function() {
			var elem = document.createElement('script');
			elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
			elem.async = true;
			var scpt = document.getElementsByTagName('script')[0];
			scpt.parentNode.insertBefore(elem, scpt);
			})();
			_qevents.push({
			qacct:"p-11eG58csMgXm2"
			});
		</script>
		<noscript>
			<div style="display:none;">
				<img src="//pixel.quantserve.com/pixel/p-11eG58csMgXm2.gif" height="1" width="1" alt="Quantcast"/>
			</div>
		</noscript>
		<!-- End Quantcast tag -->
