		<div id="wrapper">
			<header>
				<section class="navigation">
					<div class="nav-container">
						<div class="brand">
							<a href="/"><img alt="LD22 Dems" border="0" height="125" src="/assets/img/logo.png" /></a>
						</div>
						<nav>
							<div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
							<ul class="nav-list">
								<li>
									<a href="#!">About</a>
								</li>
								<li>
									<a href="#!">Calendar</a>
								</li>
								<li>
									<a href="#!">Learn</a>
									<ul class="nav-dropdown">
										<li>
											<a href="#!">Elected Offices in LD22</a>
										</li>
										<li>
											<a href="#!">Appointed Boards/Commissions in LD22</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#!">Get Involved</a>
									<ul class="nav-dropdown">
										<li>
											<a href="#!">Register to Vote</a>
										</li>
										<li>
											<a href="#!">Sign Candidate Petitions</a>
										</li>
										<li>
											<a href="#!">Volunteer</a>
										</li>
										<li>
											<a href="#!">Become a PC</a>
										</li>
										<li>
											<a href="#!">Run for Office</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#!">Contact</a>
								</li>
								<li id="donate">
									<a href="donate.html">Donate</a>
								</li>
							</ul>
						</nav>
					</div>
				</section>
			</header>
