<!DOCTYPE html>
<html lang="{{ site.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="abstract" content="{{ site.description }}" />
		<meta name="copyright" content="{{ site.copyright }} {{ site.author }}" />
		<meta name="keywords" content="{{ site.keywords }}" />
		<meta name="robots" content="all" />
		<meta name="security" content="public" />
		<link rel="schema.dcterms" href="https://purl.org/dc/terms/" />
		<meta name="dcterms.description" content="{{ site.description }}" />
		<meta name="dcterms.language" content="{{ site.lang }}" />
		<meta name="dcterms.rights" content="{{ site.copyright }} {{ site.author }}" />
		<meta name="dcterms.subject" content="{{ site.keywords }}" />
		<meta name="dcterms.title" content="{{ site.author }}" />
		<!--{{ site.description }}-->
			{% seo %}
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<!--[if lt IE 9]>
			<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>
			(function($) { // Begin jQuery
				$(function() { // DOM ready
					// If a link has a dropdown, add sub menu toggle.
					$('nav ul li a:not(:only-child)').click(function(e) {
					$(this).siblings('.nav-dropdown').toggle();
					// Close one dropdown when selecting another
					$('.nav-dropdown').not($(this).siblings()).hide();
					e.stopPropagation();
					});
					// Clicking away from dropdown will remove the dropdown class
					$('html').click(function() {
					$('.nav-dropdown').hide();
					});
					// Toggle open and close nav styles on click
					$('#nav-toggle').click(function() {
					$('nav ul').slideToggle();
					});
					// Hamburger to X toggle
					$('#nav-toggle').on('click', function() {
					this.classList.toggle('active');
					});
				}); // end DOM ready
			})(jQuery); // end jQuery
		</script>
	</head>
	<body>
{% include header.html %}

{{ content }}

{% include footer.html %}

{% if site.google_analytics %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', '{{ site.google_analytics }}');
		</script>
{% endif %}
	</body>
</html>
